@mixin font-face($font-family, $font-weight, $font-style, $filename-base) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$font-weight};
    font-style: #{$font-style};
    src: url('#{$filename-base}.ttf') format('truetype'),
         url('#{$filename-base}.otf') format('opentype');
  }
}

@include font-face('NanumBarunGothic', 700, 'normal', './../font/NanumBarunGothicBold');
@include font-face('NanumBarunGothic', 400, 'normal', './../font/NanumBarunGothic');
@include font-face('NanumBarunGothic', 300, 'normal', './../font/NanumBarunGothicLight');
@include font-face('NanumBarunGothic', 300, 'normal', './../font/NanumBarunGothicUltraLight');

@import url("https://use.typekit.net/qsw8dqt.css");