//가상 선택자 아이콘 초기값
@mixin iconDefault($width,$height,$url) { 
    content: '';
    display: inline-block;
    width: $width;
    height: $height;
    background-image: url('./../images/icon/#{$url}.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

// 말줄임 효과
@mixin ellipsis($line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }

// 말풍선 
@mixin speechBubble($color, $top) {
  font-family: "protipo", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: $color;
  position: absolute;
  top: $top;
  z-index: 2;
  &::after {
    content: '';
    display: block;
    width: 20.8rem;
    height: 10rem;
    background-image: url('./../images/common/speech_bubble.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -42%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
  }
}

//링크버튼 Mixin
@mixin linkBtn($btnColor) {
  //버튼 색상별 gradient 색상
  $red: linear-gradient(180deg, rgba(255,84,71,1) 0%, rgba(233,53,0,1) 35%, rgba(209,18,17,1) 97%, rgba(214,18,94,1) 100%);
  $green: linear-gradient(180deg, rgba(20,219,174,1) 0%, rgba(0,172,125,1) 35%, rgba(3,151,113,1) 97%, rgba(23,180,143,1) 100%);
  $yellow: linear-gradient(180deg, rgba(238,188,18,1) 0%, rgba(222,141,0,1) 35%, rgba(213,115,1,1) 97%, rgba(227,152,24,1) 100%);

  $bgColor: null;
  $txtShadowColor: null;
  $boxShadowColor: null;
  $arrowColor: null;

  @if $btnColor == "red" {
    $bgColor: $red;
    $txtShadowColor: #7a0900;
    $boxShadowColor: #7a0900;
    $arrowColor: #7a0900;
  } @else if $btnColor == "green" {
    $bgColor: $green;
    $txtShadowColor: #00694c;
    $boxShadowColor: #00694c;
    $arrowColor: #00694c;
  } @else if $btnColor == "yellow" {
    $bgColor: $yellow;
    $txtShadowColor: #904b00;
    $boxShadowColor: #904b00;
    $arrowColor: #904b00;
  } @else {
    @error "아래 색상을 입력해주세요 'red', 'green', or 'yellow'.";
  }

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 45.6rem;
  margin: 0 auto;
  text-shadow: 0 0 1rem $txtShadowColor;
  padding: 5rem 2rem 4.9rem;
  border-radius: 25rem;
  box-shadow: 0px 8px 0px 0px $boxShadowColor;
  position: relative;

  background: $bgColor;

  &::after, &::before {
    content: '';
    width: 3rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    background-color: $arrowColor;
    position: absolute;
    transform-origin: right;
    right: 4.3rem;
  }

  &::after {
    transform: translateY(-50%) rotate(45deg);
    top: calc(50% + 0.1rem);
  }

  &::before {
    transform: translateY(-50%) rotate(-45deg);
    top: calc(50% - 0.1rem);
  }
}
  
//이미지 스트라이트 포지션
$bg-position: (
  btnGreen: -0.8rem -0.8rem,
  btnOrange: -0.8rem -16rem,
  downLoad: -63.4rem -24rem,
  hamBtn: -63.4rem -33rem,
);

$button-size: (
  downLoad: (
    width: 3.5rem,
    height: 4rem
  ),
  hamBtn: (
    width: 3.5rem,
    height: 3rem
  )
);

//미디어 쿼리 (반응형)
$devices: (
  mobile: 450px,
);

@mixin mq($device) {
    @if map-has-key($devices, $device) {
      $device-width: map-get($devices, $device);
      @media screen and (max-width: #{$device-width}) {
        @content;
      }
    } @else {
      @warn 'Invalid breakpoint: #{$device}.';
    }
  }
