@use '../help/mixin' as *;

//reset-style
html {
    font-size: 10px; 
    @include mq('mobile') {
        font-size: 6px;
        min-width: 320px;
    }
}
.body-fixed {overflow: hidden;}
* {font-family: 'NanumBarunGothic'; font-weight:400; font-size:1.6rem; line-height: 1.2; margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; word-break: keep-all; color: #000; }
h2, h3, h4, h5 { margin:0; padding:0; } 
img {display: block; max-width: 100%; image-rendering: -webkit-optimize-contrast; }
caption { width:0; height:0; font-size:0; line-height:0; top:0; left:-9999999px; 
p { width:0; height:0; font-size:0; line-height:0; top:0; left:-9999999px; }
} 
a { display: inline-block; text-decoration: none; cursor: pointer; 
    &:hover, &:active, &:visited { text-decoration: none; }
} 
fieldset,iframe { border: 0; } 
address { font-style: normal; } 
li, ul, dl { list-style: none; } 
button { background-color: transparent; border: 0; cursor: pointer; } 
table { border-collapse: collapse; border-spacing: 0; } 
legend { position:absolute; left:-9999999px; top:0 } 
.hide {overflow: hidden;position: absolute;left: 0;top: 0;width: 1px;height: 1px;padding: 0;border: 0;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}

