@import url("https://use.typekit.net/qsw8dqt.css");
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 700;
  font-style: normal;
  src: url("./../font/NanumBarunGothicBold.ttf") format("truetype"), url("./../font/NanumBarunGothicBold.otf") format("opentype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 400;
  font-style: normal;
  src: url("./../font/NanumBarunGothic.ttf") format("truetype"), url("./../font/NanumBarunGothic.otf") format("opentype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  font-style: normal;
  src: url("./../font/NanumBarunGothicLight.ttf") format("truetype"), url("./../font/NanumBarunGothicLight.otf") format("opentype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  font-style: normal;
  src: url("./../font/NanumBarunGothicUltraLight.ttf") format("truetype"), url("./../font/NanumBarunGothicUltraLight.otf") format("opentype");
}
html {
  font-size: 10px;
}
@media screen and (max-width: 450px) {
  html {
    font-size: 6px;
    min-width: 320px;
  }
}

.body-fixed {
  overflow: hidden;
}

* {
  font-family: "NanumBarunGothic";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
  color: #000;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  top: 0;
  left: -9999999px;
}
caption p {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  top: 0;
  left: -9999999px;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}

fieldset {
  border: 0;
}

address {
  font-style: normal;
}

li, ul, dl {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  position: absolute;
  left: -9999999px;
  top: 0;
}

.hide {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.header {
  background-color: #88B0C3;
  padding: 1.6rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .head-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 64rem;
  margin: 0 auto;
}
.header .head-inner .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header .head-inner .util-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.7rem;
}
.header .head-inner .util-wrap a img {
  display: block;
  max-width: 3.5rem;
  height: auto;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
main .btn {
  display: block;
  max-width: 45.6rem;
  margin: 0 auto;
  position: relative;
}
main section {
  position: relative;
  background-repeat: no-repeat;
}
main section .sec-inner {
  max-width: 64rem;
  margin: 0 auto;
}
main section .sec-inner .sec-tit {
  text-align: center;
}
main section .sec-inner .sec-tit h4 {
  font-family: "protipo", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
main section .sec-inner .sec-tit h4::before {
  content: "";
  display: inline-block;
  width: 6.3rem;
  height: 3.2rem;
  background-image: url("./../images/icon/icon_infinite_blue.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
main section .sec-inner .sec-tit strong {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}
main section .sec-inner .sec-tit p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
main section .sec-inner .con-box.video {
  position: relative;
}
main section .sec-inner .con-box.video .video-wrap {
  width: 100%;
  padding-bottom: 56.25%;
}
main section .sec-inner .con-box.video .video-wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main section .sec-inner .con-box .event-list {
  max-width: 60rem;
  margin: 0 auto;
}
main section .sec-inner .con-box .event-list li {
  margin-bottom: 2rem;
  border: 1px solid #bdc5c3;
}
main section .sec-inner .con-box .event-list li .img-box {
  overflow: hidden;
}
main section .sec-inner .con-box .event-list li .img-box img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main section .sec-inner .con-box .event-list li .desc {
  text-align: center;
  padding: 2.5rem 2rem;
}
main section .sec-inner .con-box .event-list li .desc h5, main section .sec-inner .con-box .event-list li .desc strong {
  font-size: 2.4rem;
  font-weight: 700;
}
main section .sec-inner .con-box .event-list li .desc strong {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
main section .sec-inner .con-box .event-list li .desc p {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
}
main section .sec-inner .con-box .event-list li:nth-child(1) .desc {
  background-color: #2d1563;
}
main section .sec-inner .con-box .event-list li:nth-child(1) .desc h5 {
  color: #ec17ff;
}
main section .sec-inner .con-box .event-list li:nth-child(2) .desc {
  background-color: #2c1402;
}
main section .sec-inner .con-box .event-list li:nth-child(2) .desc h5 {
  color: #ffff00;
}
main section .sec-inner .con-box .event-list li:nth-child(3) {
  margin-bottom: 0;
}
main section .sec-inner .con-box .event-list li:nth-child(3) .desc {
  background-color: #270b8e;
}
main section .sec-inner .con-box .event-list li:nth-child(3) .desc h5 {
  color: #00ffff;
}
main section .sec-inner .con-box .event-list li:hover .img-box img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
main section .sec-inner + .sec-inner {
  margin-top: 6rem;
}
main section.sec-main {
  background-image: url("./../images/main/main_bg.png");
  background-position: center center;
  background-size: cover;
  padding: 1rem 2rem 6.7rem;
  overflow: hidden;
}
main section.sec-main .main-tit > img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
main section.sec-main .store-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 33rem;
  position: relative;
  z-index: 2;
}
main section.sec-main .store-link-wrap li a img {
  max-width: 21rem;
  width: 100%;
  height: auto;
}
main section.sec-main .character {
  width: 100%;
  max-width: 67.6rem;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  z-index: 0;
}
main section.sec-main .character img {
  max-width: 80%;
  position: absolute;
  z-index: 0;
  -webkit-animation: float 3s infinite ease-in-out;
          animation: float 3s infinite ease-in-out;
}
main section.sec-main .character .lushen {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
main section.sec-main .character .ballon {
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
main section.sec-main .character .pollen {
  top: 26%;
  left: -4%;
  z-index: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
main section.sec-main .character .cloud01 {
  top: -6%;
  right: -6%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
main section.sec-main .character .cloud02 {
  bottom: 26%;
  left: -6%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main section.sec-main .link-btn-wrap {
  margin: 0 auto;
}
main section.sec-main .link-btn-wrap li:nth-child(1) {
  margin-bottom: 5rem;
}
main section.sec-main .link-btn-wrap li:nth-child(1) .btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 45.6rem;
  margin: 0 auto;
  text-shadow: 0 0 1rem #00694c;
  padding: 5rem 2rem 4.9rem;
  border-radius: 25rem;
  -webkit-box-shadow: 0px 8px 0px 0px #00694c;
          box-shadow: 0px 8px 0px 0px #00694c;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(20, 219, 174)), color-stop(35%, rgb(0, 172, 125)), color-stop(97%, rgb(3, 151, 113)), to(rgb(23, 180, 143)));
  background: linear-gradient(180deg, rgb(20, 219, 174) 0%, rgb(0, 172, 125) 35%, rgb(3, 151, 113) 97%, rgb(23, 180, 143) 100%);
}
main section.sec-main .link-btn-wrap li:nth-child(1) .btn p::after, main section.sec-main .link-btn-wrap li:nth-child(1) .btn p::before {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background-color: #00694c;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 4.3rem;
}
main section.sec-main .link-btn-wrap li:nth-child(1) .btn p::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: calc(50% + 0.1rem);
}
main section.sec-main .link-btn-wrap li:nth-child(1) .btn p::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  top: calc(50% - 0.1rem);
}
main section.sec-main .link-btn-wrap li:nth-child(1) .btn span {
  font-family: "protipo", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #00976E;
  position: absolute;
  top: -5.5rem;
  z-index: 2;
  right: 2rem;
}
main section.sec-main .link-btn-wrap li:nth-child(1) .btn span::after {
  content: "";
  display: block;
  width: 20.8rem;
  height: 10rem;
  background-image: url("./../images/common/speech_bubble.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
main section.sec-main .link-btn-wrap li:nth-child(2) .btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 45.6rem;
  margin: 0 auto;
  text-shadow: 0 0 1rem #904b00;
  padding: 5rem 2rem 4.9rem;
  border-radius: 25rem;
  -webkit-box-shadow: 0px 8px 0px 0px #904b00;
          box-shadow: 0px 8px 0px 0px #904b00;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 188, 18)), color-stop(35%, rgb(222, 141, 0)), color-stop(97%, rgb(213, 115, 1)), to(rgb(227, 152, 24)));
  background: linear-gradient(180deg, rgb(238, 188, 18) 0%, rgb(222, 141, 0) 35%, rgb(213, 115, 1) 97%, rgb(227, 152, 24) 100%);
}
main section.sec-main .link-btn-wrap li:nth-child(2) .btn p::after, main section.sec-main .link-btn-wrap li:nth-child(2) .btn p::before {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background-color: #904b00;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 4.3rem;
}
main section.sec-main .link-btn-wrap li:nth-child(2) .btn p::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: calc(50% + 0.1rem);
}
main section.sec-main .link-btn-wrap li:nth-child(2) .btn p::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  top: calc(50% - 0.1rem);
}
main section.sec-main .link-btn-wrap li:nth-child(2) .btn span {
  font-family: "protipo", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #D32D00;
  position: absolute;
  top: -1.5rem;
  z-index: 2;
  left: -3rem;
}
main section.sec-main .link-btn-wrap li:nth-child(2) .btn span::after {
  content: "";
  display: block;
  width: 20.8rem;
  height: 10rem;
  background-image: url("./../images/common/speech_bubble.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
main section:not(.sec-main) {
  padding: 6rem 2rem 4rem;
}
main section.sec01 {
  background-image: url("./../images/main/brush01.png");
  background-size: cover;
  background-position: left bottom;
}
main section.sec01 .sec-inner .sec-tit h4 {
  color: #009bff;
}
main section.sec02 {
  background-color: #CBF8FF;
  background-image: url("./../images/main/brush02.png");
  background-position: 0 center;
}
main section.sec02 .sec-inner .sec-tit h4 {
  color: #01AFA5;
}
main section.sec02 .sec-inner .sec-tit h4::before {
  content: "";
  display: inline-block;
  width: 6.3rem;
  height: 3.2rem;
  background-image: url("./../images/icon/icon_infinite_green.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
main section.sec02 .sec-inner .link-list {
  max-width: 47rem;
  margin: 0 auto;
  position: relative;
  left: -0.2rem;
}
main section.sec02 .sec-inner .link-list li {
  position: relative;
  margin-bottom: 1.8rem;
}
main section.sec02 .sec-inner .link-list li span {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 2rem;
}
main section.sec02 .sec-inner .link-list li:last-child {
  margin-bottom: 0;
}
main section.sec02 .sec-inner .link-list li .btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 45.6rem;
  margin: 0 auto;
  text-shadow: 0 0 1rem #7a0900;
  padding: 5rem 2rem 4.9rem;
  border-radius: 25rem;
  -webkit-box-shadow: 0px 8px 0px 0px #7a0900;
          box-shadow: 0px 8px 0px 0px #7a0900;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 84, 71)), color-stop(35%, rgb(233, 53, 0)), color-stop(97%, rgb(209, 18, 17)), to(rgb(214, 18, 94)));
  background: linear-gradient(180deg, rgb(255, 84, 71) 0%, rgb(233, 53, 0) 35%, rgb(209, 18, 17) 97%, rgb(214, 18, 94) 100%);
}
main section.sec02 .sec-inner .link-list li .btn p::after, main section.sec02 .sec-inner .link-list li .btn p::before {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background-color: #7a0900;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 4.3rem;
}
main section.sec02 .sec-inner .link-list li .btn p::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: calc(50% + 0.1rem);
}
main section.sec02 .sec-inner .link-list li .btn p::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  top: calc(50% - 0.1rem);
}
main section.sec02 .sec-inner + .sec-inner .sec-tit h4 {
  color: #6E03FF;
}
main section.sec02 .sec-inner + .sec-inner .sec-tit h4::before {
  content: "";
  display: inline-block;
  width: 6.3rem;
  height: 3.2rem;
  background-image: url("./../images/icon/icon_infinite_purple.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
main section.sec02 .sec-inner + .sec-inner .sec-tit strong {
  color: #6E03FF;
}
main section.sec03 {
  background-color: #FFFFFF;
  background-image: url("./../images/main/brush03.png");
  background-position: center calc(100% + 5rem);
  padding-bottom: 29.5rem;
}
main section.sec03 .sec-inner .sec-tit h4 {
  color: #01AFA5;
}
main section.sec03 .sec-inner .sec-tit h4::before {
  content: "";
  display: inline-block;
  width: 6.3rem;
  height: 3.2rem;
  background-image: url("./../images/icon/icon_infinite_green.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
main section.sec03 .sec-inner .sec-tit p {
  margin-bottom: 10rem;
}
main section.sec03 .sec-inner .con-box .link-list li {
  text-align: center;
  margin-bottom: 5rem;
}
main section.sec03 .sec-inner .con-box .link-list li strong {
  display: inline-block;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}
main section.sec03 .sec-inner .con-box .link-list li p {
  font-size: 2rem;
  margin-bottom: 5rem;
}
main section.sec03 .sec-inner .con-box .link-list li img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) strong {
  color: #01AFA5;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 45.6rem;
  margin: 0 auto;
  text-shadow: 0 0 1rem #00694c;
  padding: 5rem 2rem 4.9rem;
  border-radius: 25rem;
  -webkit-box-shadow: 0px 8px 0px 0px #00694c;
          box-shadow: 0px 8px 0px 0px #00694c;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(20, 219, 174)), color-stop(35%, rgb(0, 172, 125)), color-stop(97%, rgb(3, 151, 113)), to(rgb(23, 180, 143)));
  background: linear-gradient(180deg, rgb(20, 219, 174) 0%, rgb(0, 172, 125) 35%, rgb(3, 151, 113) 97%, rgb(23, 180, 143) 100%);
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn p::after, main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn p::before {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background-color: #00694c;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 4.3rem;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn p::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: calc(50% + 0.1rem);
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn p::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  top: calc(50% - 0.1rem);
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn span {
  font-family: "protipo", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #00976E;
  position: absolute;
  top: -5.5rem;
  z-index: 2;
  right: 2rem;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(1) .btn span::after {
  content: "";
  display: block;
  width: 20.8rem;
  height: 10rem;
  background-image: url("./../images/common/speech_bubble.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) {
  background-color: #FDFFE3;
  padding: 3rem 2.8rem 2.4rem;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) strong {
  color: #B32A00;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) img {
  padding-left: 9rem;
  margin-bottom: 1.4rem;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 45.6rem;
  margin: 0 auto;
  text-shadow: 0 0 1rem #904b00;
  padding: 5rem 2rem 4.9rem;
  border-radius: 25rem;
  -webkit-box-shadow: 0px 8px 0px 0px #904b00;
          box-shadow: 0px 8px 0px 0px #904b00;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 188, 18)), color-stop(35%, rgb(222, 141, 0)), color-stop(97%, rgb(213, 115, 1)), to(rgb(227, 152, 24)));
  background: linear-gradient(180deg, rgb(238, 188, 18) 0%, rgb(222, 141, 0) 35%, rgb(213, 115, 1) 97%, rgb(227, 152, 24) 100%);
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn p::after, main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn p::before {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background-color: #904b00;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 4.3rem;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn p::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: calc(50% + 0.1rem);
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn p::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  top: calc(50% - 0.1rem);
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn span {
  font-family: "protipo", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #D32D00;
  position: absolute;
  top: -1.5rem;
  z-index: 2;
  left: -3rem;
}
main section.sec03 .sec-inner .con-box .link-list li:nth-child(2) .btn span::after {
  content: "";
  display: block;
  width: 20.8rem;
  height: 10rem;
  background-image: url("./../images/common/speech_bubble.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
main section.sec03 .sec-inner .con-box .link-list li:last-child {
  margin-bottom: 0;
}