@import url("https://use.typekit.net/qsw8dqt.css");
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 700;
  font-style: normal;
  src: url("./../font/NanumBarunGothic/NanumBarunGothicBold.ttf") format("truetype"), url("./../font/NanumBarunGothic/NanumBarunGothicBold.otf") format("opentype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 400;
  font-style: normal;
  src: url("./../font/NanumBarunGothic/NanumBarunGothic.ttf") format("truetype"), url("./../font/NanumBarunGothic/NanumBarunGothic.otf") format("opentype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  font-style: normal;
  src: url("./../font/NanumBarunGothic/NanumBarunGothicLight.ttf") format("truetype"), url("./../font/NanumBarunGothic/NanumBarunGothicLight.otf") format("opentype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  font-style: normal;
  src: url("./../font/NanumBarunGothic/NanumBarunGothicUltraLight.ttf") format("truetype"), url("./../font/NanumBarunGothic/NanumBarunGothicUltraLight.otf") format("opentype");
}
html {
  font-size: 10px;
}

.body-fixed {
  overflow: hidden;
}

* {
  font-family: "NanumBarunGothic";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
  color: #000;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  top: 0;
  left: -9999999px;
}
caption p {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  top: 0;
  left: -9999999px;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}

fieldset {
  border: 0;
}

address {
  font-style: normal;
}

li, ul, dl {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  position: absolute;
  left: -9999999px;
  top: 0;
}

.hide {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.header {
  background-color: #88B0C3;
  padding: 1.6rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .head-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 64rem;
  margin: 0 auto;
}
.header .head-inner .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header .head-inner .util-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.7rem;
}
.header .head-inner .util-wrap .download {
  width: 3.5rem;
  height: 4rem;
  background-image: url("./../images/common/sprite_set.png");
  background-position: -63.4rem -24rem;
  background-repeat: no-repeat;
}
.header .head-inner .util-wrap .ham-btn {
  width: 3.5rem;
  height: 3rem;
  background-image: url("./../images/common/sprite_set.png");
  background-position: -63.4rem -33rem;
  background-repeat: no-repeat;
}

main section {
  position: relative;
}
main section .sec-inner {
  max-width: 64rem;
  margin: 0 auto;
}
main section .sec-inner .sec-tit {
  text-align: center;
}
main section .sec-inner .sec-tit h4 {
  font-family: "protipo", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
main section .sec-inner .sec-tit strong {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}
main section .sec-inner .sec-tit p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
main section .sec-inner .con-box.video {
  position: relative;
}
main section .sec-inner .con-box.video .video-wrap {
  width: 100%;
  padding-bottom: 56.25%;
}
main section .sec-inner .con-box.video .video-wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main section .sec-inner .con-box .event-list {
  max-width: 60rem;
  margin: 0 auto;
}
main section .sec-inner .con-box .event-list li {
  margin-bottom: 2rem;
  border: 1px solid #bdc5c3;
}
main section .sec-inner .con-box .event-list li .img-box {
  overflow: hidden;
}
main section .sec-inner .con-box .event-list li .img-box img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main section .sec-inner .con-box .event-list li .desc {
  text-align: center;
  padding: 2.5rem 2rem;
}
main section .sec-inner .con-box .event-list li .desc h5, main section .sec-inner .con-box .event-list li .desc strong {
  font-size: 2.4rem;
  font-weight: 700;
}
main section .sec-inner .con-box .event-list li .desc strong {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
main section .sec-inner .con-box .event-list li .desc p {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
}
main section .sec-inner .con-box .event-list li:nth-child(1) .desc {
  background-color: #2d1563;
}
main section .sec-inner .con-box .event-list li:nth-child(1) .desc h5 {
  color: #ec17ff;
}
main section .sec-inner .con-box .event-list li:nth-child(2) .desc {
  background-color: #2c1402;
}
main section .sec-inner .con-box .event-list li:nth-child(2) .desc h5 {
  color: #ffff00;
}
main section .sec-inner .con-box .event-list li:nth-child(3) {
  margin-bottom: 0;
}
main section .sec-inner .con-box .event-list li:nth-child(3) .desc {
  background-color: #270b8e;
}
main section .sec-inner .con-box .event-list li:nth-child(3) .desc h5 {
  color: #00ffff;
}
main section .sec-inner .con-box .event-list li:hover .img-box img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
main section .sec-inner + .sec-inner {
  margin-top: 6rem;
}
main section.main {
  background-image: url("./../images/main/main_bg.png");
  background-position: center center;
  background-size: cover;
}
main section:not(.main) {
  padding: 6rem 2rem 4rem;
}
main section.sec01 {
  background-image: url("./../images/main/brush01.png");
  background-size: cover;
  background-position: left bottom;
}
main section.sec01 .sec-inner .sec-tit h4 {
  color: #009bff;
}
main section.sec02 {
  background-color: #cbf8ff;
}
main section.sec02 .sec-inner .sec-tit h4 {
  color: #01afa5;
}
main section.sec02 .sec-inner .link-list {
  max-width: 47rem;
  margin: 0 auto;
  position: relative;
  left: -0.2rem;
}
main section.sec02 .sec-inner .link-list li {
  position: relative;
  margin-bottom: 1.8rem;
}
main section.sec02 .sec-inner .link-list li span {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 2rem;
}
main section.sec02 .sec-inner .link-list li:last-child {
  margin-bottom: 0;
}
main section.sec02 .sec-inner .link-list li .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 2rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(209, 18, 17)), color-stop(35%, rgb(233, 53, 0)), to(rgb(255, 84, 71)));
  background: linear-gradient(0deg, rgb(209, 18, 17) 0%, rgb(233, 53, 0) 35%, rgb(255, 84, 71) 100%);
}