@use '../help/mixin' as *;
@use '../help/animate' as *;

main {
    .btn {
        display: block;
        max-width: 45.6rem;
        margin: 0 auto;
        position: relative;
    }
    section {
        position: relative;
        background-repeat: no-repeat;
        .sec-inner {
            max-width: 64rem;
            margin: 0 auto;
            // 섹션 다이틀 스타일
            .sec-tit {
                text-align: center;
                h4 {
                    font-family: "protipo", sans-serif;
                    font-size: 5rem;
                    font-weight: 700;
                    margin-bottom: 1.6rem;
                    &::before {
                        @include iconDefault(6.3rem, 3.2rem, 'icon_infinite_blue');
                        display: block;
                        margin: 0 auto;
                    }
                }
                strong {
                    display: inline-block;
                    font-size: 2.8rem;
                    font-weight: 700;
                    margin-bottom: 1.4rem;
                }
                p {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 4rem;
                }
            }
            .con-box {
                &.video {
                    position: relative;
                    .video-wrap {
                        width: 100%; padding-bottom: 56.25%;
                        iframe {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                .event-list {
                    max-width: 60rem;
                    margin: 0 auto;
                    li {
                        margin-bottom: 2rem;
                        border: 1px solid #bdc5c3;
                        .img-box {
                            overflow: hidden;
                            img {
                                display: block;
                                max-width: 100%;
                                height: auto;
                                margin: 0 auto;
                                transition: all 0.3s;
                            }
                        }
                        .desc {
                            text-align: center;
                            padding: 2.5rem 2rem;
                            h5,strong {
                                font-size: 2.4rem;
                                font-weight: 700;
                            }
                            strong {
                                display: inline-block;
                                color: #FFFFFF;
                                margin-bottom: 1rem;
                            }
                            p {
                                font-size: 2rem;
                                font-weight: 400;
                                color: #FFFFFF;
                            }
                        }
                        &:nth-child(1) {
                            .desc {
                                background-color: #2d1563;
                                h5 {
                                    color: #ec17ff;
                                }
                            }
                        }
                        &:nth-child(2) {
                            .desc {
                                background-color: #2c1402;
                                h5 {
                                    color: #ffff00;
                                }
                            }
                        }
                        &:nth-child(3) {
                            margin-bottom: 0;
                            .desc {
                                background-color: #270b8e;
                                h5 {
                                    color: #00ffff;
                                }
                            }
                        }
                        &:hover {
                            .img-box {
                                img {
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
            & + .sec-inner {
                margin-top: 6rem;
            }
        }
        &.sec-main {
            background-image: url('./../images/main/main_bg.png');
            background-position: center center;
            background-size: cover;
            padding: 1rem 2rem 6.7rem;
            overflow: hidden;
            .main-tit {
                > img {
                    margin: 0 auto;
                    position: relative;
                    left: 1rem;
                    z-index: 2;
                    @include mq('mobile') {
                        width: 84%;                        
                    }
                }
            }
            .store-link-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                width: 100%;
                margin-top: 4rem;
                padding-bottom: 33rem;
                position: relative;
                z-index: 2;
                li { 
                    a {
                        img {
                            max-width: 21rem;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .character {
                width: 100%;
                    max-width: 67.6rem;
                    transform: translateX(-50%) !important;
                    position: absolute;
                    left: 50%;
                    bottom: 4rem;
                    z-index: 0;
                    img {
                        max-width: 80%;
                        position: absolute;
                        z-index: 0;
                        animation: float 3s infinite ease-in-out;
                    }
                    .lushen {
                        margin: 0 auto;
                        position: relative;
                        z-index: 1;
                        animation-delay: 0s;
                    }
                    .ballon {
                        top: 0;
                        left: 0;
                        animation-delay: 0.5s;
                    }
                    .pollen {
                        top: 26%;
                        left: -4%;
                        z-index: 1;
                        animation-delay: 1s;
                    }
                    .cloud01 {
                        top: -6%;
                        right: -6%;
                        animation-delay: 1.5s;
                    }
                    .cloud02 {
                        bottom: 26%;
                        left: -6%;
                        animation-delay: 2s;
                    }
            }
            .link-btn-wrap {
                margin: 0 auto;
                li {
                    &:nth-child(1) {
                        margin-bottom: 5rem;
                        .btn {
                            p {
                                @include linkBtn('green');
                            }
                            span {
                                @include speechBubble(#00976E,-5.5rem);
                                right: 2rem;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .btn {
                            p {
                                @include linkBtn('yellow');
                            }
                            span {
                                @include speechBubble(#D32D00, -1.5rem);
                                left: -3rem;
                            }
                        }
                    }
                }
            }
        }
        &:not(.sec-main) {
            padding: 6rem 2rem 4rem;
        }
        //section01 INFINITE FUN
        &.sec01 {
            background-image: url('./../images/main/brush01.png');
            background-size: auto;
            background-position: calc(50% - 20rem) 10rem;
            .sec-inner {
                .sec-tit {
                    h4 {
                        color: #009bff;
                    }
                }
           }
        }
        //section02 INFINITE FUN
        &.sec02 {
            background-color: #CBF8FF;
            background-image: url('./../images/main/brush02.png');
            background-position: 0 center;
            .sec-inner {
                .sec-tit {
                    h4 {
                        color: #01AFA5;
                        &::before {
                            @include iconDefault(6.3rem, 3.2rem, 'icon_infinite_green');
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
                .link-list {
                    max-width: 47rem;
                    margin: 0 auto;
                    position: relative;
                    left: -0.2rem;
                    li {
                        position: relative;
                        margin-bottom: 1.8rem;
                        span {
                            font-size: 2rem;
                            font-weight: 400;
                            color: #FFFFFF;
                            transform: translateX(-50%);
                            position: absolute;
                            left: 50%;
                            bottom: 2rem;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .btn {
                            p {
                                @include linkBtn('red');
                            }
                        }
                    }
                }
                & + .sec-inner {
                    .sec-tit {
                        h4 {
                            color: #6E03FF;
                            &::before {
                                @include iconDefault(6.3rem, 3.2rem, 'icon_infinite_purple');
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        strong {
                            color: #6E03FF;
                        }
                    }
                }
           }
        }
        //section03 INFINITE THANKS
        &.sec03 {
            background-color: #FFFFFF;
            background-image: url('./../images/main/brush03.png');
            background-position: center 22rem;
            padding-bottom: 29.5rem;
            background-size: auto 100%;
            .sec-inner {
                .sec-tit {
                    h4 {
                        color: #01AFA5;
                        &::before {
                            @include iconDefault(6.3rem, 3.2rem, 'icon_infinite_green');
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    p {
                        margin-bottom: 10rem;
                    }
                }
                .con-box {
                    .link-list {
                        li {
                            text-align: center;
                            margin-bottom: 5rem;
                            strong {
                                display: inline-block;
                                font-size: 2.4rem;
                                font-weight: 700;
                                margin-bottom: 1.4rem;
                            }
                            p {
                                font-size: 2rem;
                                margin-bottom: 5rem;
                                @include mq('mobile') {
                                    margin-bottom: 2.5rem;
                                }
                            }
                            img {
                                display: block;
                                max-width: 100%;
                                height: auto;
                                margin: 0 auto;
                                @include mq('mobile') {
                                    width: 60%
                                }
                            }
                            &:nth-child(1) {
                                strong {
                                    color: #01AFA5;
                                }
                                .btn {
                                    p {
                                        @include linkBtn('green');
                                    }
                                    span {
                                        @include speechBubble(#00976E,-5.5rem);
                                        top: -2.5rem;
                                        right: 1.5rem;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                background-color: #FDFFE3;
                                padding: 3rem 2.8rem 2.4rem;
                                strong {
                                    color: #B32A00;
                                }
                                img {
                                    padding-left: 9rem;
                                    margin-bottom: 1.4rem;
                                }
                                .btn {
                                    p {
                                        @include linkBtn('yellow');
                                    }
                                    span {
                                        @include speechBubble(#D32D00, -1.5rem);
                                        top: -3.5rem;
                                        left: 0;
                                    }
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
